.dialogImg{
    width: 300px;
    height: 200px;
}

.MuiIconButton-root.closeButton{
    position: absolute; 
    width: 10px;
    height: 10px;
    top: 0px; 
    right: 0px
}

.MuiDialogTitle-root{
    height: 10px;
}
.MuiDialogContentText-root.dialogContent{
    width: 350px;
    text-align: center;
}

.MuiDialogContent-root.dialogContent{
    text-align: center;
}

.MuiDialogContent-root.dialogContent_Img{
    background-color: #69818d;
}



.dialog .MuiDialog-paper{
    padding: 20px;
    position: 'absolute';
    
}

.MuiDialogActions-root.dialogActions{
    justify-content: center;
}